seo-list-page {
    .list-tools {
        margin-bottom: @line-height-computed;
    }

    pui-grid-column-toggle {
        margin-top: .4rem;

        // Vertical divider
        &:before {
            color: @thunderCloud;
            content: '\00a0|\00a0';
            font-size: @font-size-small;
        }

        .dropdown {
            padding: 0;
        }
    }

    pui-grid-list {
        .table-responsive {
            min-height: 300px;
        }
    }
}
