@content-width: 60rem;

seo-list-page {
    .list-tools {
        margin-bottom: @line-height-computed;
    }

    // Advanced Search Toggle Button
    .btn-adv-search {
        border-radius: @border-radius-base @border-radius-base 0 0;
        font-size: 13px;
        padding-bottom: 15px;
        position: relative;
        z-index: 1;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &.enabled {
            border-color: @pacific @pacific @body-bg;
        }

        &.on {
            color: @coral;

            &:after {
                content: ': ON'
            }
        }
    }
}
