<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>seo-list-page Demo</title>
        <link rel="stylesheet" href="/app.css"/>
        <link rel="stylesheet" href="demo.css"/>
    </head>

    <body>
        <div id="demo"></div>
        <script src="demo.bundle.js"></script>
    </body>

    <!--demo-script-start-->
<script src="../../../../node_modules/steal/steal.js"
        data-main="seo-ui/components/list-page/demo/">
</script>
<!--demo-script-end-->
</html>
