seo-url-list {
    pui-action-bar {
        margin-top: 2rem;
    }

    .label.keypath {
        display: inline-block;
        font-size: @font-size-small;
        font-weight: 200;
        margin-top: @padding-small-vertical;
        text-transform: none;

        .icon-key {
            vertical-align: middle;
        }
    }

    // Filters
    .filters {
        border-bottom: 1px solid #D6D6D6;
        margin: 0 0 21px 0;
        padding-bottom: 10px;

        .btn-link:hover, .btn-link:focus {
            text-decoration: none;
        }
    }

    pui-filter-menu {
        display: inline-block;
    }
}
