seo-url-list {
    .label.keypath {
        display: inline-block;
        font-size: @font-size-small;
        font-weight: 200;
        margin-top: @padding-small-vertical;
        text-transform: none;

        .icon-key {
            vertical-align: middle;
        }
    }

    .status-badge {
        .label;
        .label-alt;
        display: inline-block;
        min-width: 8.1rem;
    }

    .added-label {
        .status-badge;
        .label-success;
    }

    .end-of-life-label {
        .status-badge;
        .label-danger;
    }

    .modified-label {
        .status-badge;
        .label-info;
    }

    // Filters
    .filters {
        border-bottom: .1rem solid @page-header-border-color;
        margin: -@line-height-computed 0 @form-group-margin-bottom;
        padding: @padding-small-vertical 0;
    }

    .country-group .list-group-item {
        font-size: @font-size-small;
        padding-bottom: @padding-base-vertical;
        padding-top: @padding-base-vertical;
    }

    .page-title-value:after {
        content: attr(data-index);
        font-size: @font-size-small;
        vertical-align: super;
    }

    .key-path {
        font-size: @font-size-small;
        margin-top: @padding-large-vertical;
    }

    .indicator-product-attribute {
        background: @thunderCloud;
        border-radius: @font-size-small;
        height: @font-size-small;
        width: @font-size-small;
        display: inline-block;
        text-align: center;
        font-weight: normal;
        font-size: @font-size-small - 1;
        color: white;
    }
}
