seo-url-list {
    pui-action-bar {
        margin-top: 2rem;
    }

    .label.keypath {
        font-size: @font-size-small;
        font-weight: 200;
        text-transform: none;

        .icon-key {
            vertical-align: middle;
        }
    }
}
