seo-generate-page {
    .generate-file-upload {
        border: solid 1px @gray-light;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content {
        margin-top:10px;
    }
}
