seo-header {
  .global-secondary-nav {
    padding-left: 10px;
    .selected-tab,
    .selected-tab:hover,
    .selected-tab:focus {
      height: 45px;
    }
    .navbar-nav > li > a {
      padding-top: 13.5px;
    }
    .navbar-nav > li > .dropdown {
      height: 100px;
    }
  }
  .sec-nav {
  height: 45px;
  .dropdown.open {
    .utilities,
    .icon-chevron {
      color: @whiteTip;
    }
  }
}
}
