seo-header {
    .global-secondary-nav {
        padding-left: 10px;

        .navbar-nav > li > a {
            padding-top: 13.5px;
        }
    }

    .read-only-label {
        display: block;
        float: left;
        margin-right: @padding-xs-horizontal;
        margin-top: 18px;
        border-radius: @border-radius-large;
        color: @pacific;
        background-color: @orca;
        font-size: @font-size-small;
        text-align: center;
        padding: 5px 8px;
    }
}
