seo-header {
    .global-secondary-nav {
        padding-left: 10px;

        .selected-tab,
        .selected-tab:hover,
        .selected-tab:focus {
            height: 45px;
        }

        .navbar-nav > li > a {
            padding-top: 13.5px;
        }

        .navbar-nav > li > .dropdown {
            height: 100px;
        }
    }

    .sec-nav {
        height: 45px;

        .dropdown.open {
            .utilities,
            .icon-chevron {
                color: @whiteTip;
            }
        }
    }

    .read-only-label {
        display: block;
        float: left;
        right-margin: @padding-xs-horizontal;
        margin-top: 18px;
        border-radius: @border-radius-large;
        color: @pacific;
        background-color: @orca;
        font-size: @font-size-small;
        font
        text-align: center;
        padding: 5px 8px;
    }
}
