seo-export-urls {
  pui-action-bar-menu {
    margin-top: 4rem;
    pui-action-bar-dropdown {
      position: relative;
      z-index: 50;
      pui-action-bar-item {
        > li {
          white-space: nowrap;
        }
      }
    }
  }
}