seo-review-page {
    .file-upload {
        margin-left: @padding-small-horizontal;

        &::-webkit-file-upload-button {
            .btn;
            .btn-default;
            margin-left: -@padding-small-horizontal;
            position: relative;
        }
    }

    .content {
        margin-top: @padding-large-vertical;
    }

    .tab-content {
        margin-top: 21px;
    }

    .modal-trigger {
        border: 0;
        padding: 0;
        vertical-align: inherit;
    }
}
