seo-review-page {
	.page-info {
        font-size: @font-size-small;
    }

    .form-control {
    	margin-top: 40px;
    }

    .generate-file-upload {
        border: solid 1px @gray-light;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-dialog {
        width: 800px;

        .modal-content {
            min-width: 750px;
        }

        .modal.fade.in {
            display: block;
            padding-right: 15px;
        }

        .modal-body {
            height: 450px;
        }
    }

    .content {
    	margin-top: 10px;
    }

    .example-container {
        margin-top: 20px;
        max-width: 750px;
        border: solid 1px @gray-light;
    }

    .example-table-values {
        padding: 5px;
        border: solid 1px @gray;
    }

    .example-table-header {
    	padding: 5px;
    	border: solid 1px @gray;
    	background-color: @gray-light;
    }

    .formatting-standards {
    	padding-top: 20px;
    	padding-bottom: 20px;
    }
}
