seo-review-page {
    .form-control {
    	margin-top: 40px;
    }

    .generate-file-upload {
        border: solid 1px @gray-light;
        padding: 15px;
        margin: 10px 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
