seo-request-page {
    .page-info {
        font-size: @font-size-small;
    }

    .form li {
        list-style-type: none;
    }

    .generate-file-upload {
        border: solid 1px;
        padding: 10px;
        border-color: @gray-light;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-dialog {
        width: 800px;

        .modal-content {
            min-width: 750px;
        }

        .modal.fade.in {
            display: block;
            padding-right: 15px;
        }

        .modal-body {
            height: 450px;
        }

    }

    .example-container {
        padding-top: 20px;
    }

    .example-format-header {
        background-color: @gray-light;
        max-width: 750px;
    }

    .example-format-values {
        max-width: 750px;
    }

    .formatting-standards {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .content{
      margin-top:10px;
    }

}
