seo-request-page {
    .page-info {
        font-size: @font-size-small;
    }
    .form li {
    list-style-type:none;
    }

    .generate-file-upload{
      border:  solid 1px;
      padding: 10px;
      border-color: @gray-light;
    }
}
