seo-user-menu{
    &.navbar-right {
      margin-right: 0px;
    }
    .menu-content{
        display: none;
    }
    .user-menu {
      background: none;
      border:0;
      .icon-user,
      .user-initials,
      .icon-chevron {
        color: @dolphin;
        float:left;
        margin-right: 10px;
      }
      .icon-user {
        font-size: 20px;
      }
      .user-initials {
        font-size: 14px;
        //font-weight: light;

      }
    }
    .dropdown{
      margin-right: 10px;
    }
    .dropdown.open{
        .icon-user,
        .user-initials,
        .icon-chevron {
          color: @whiteTip;
        }
    }
}
